@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_reset.scss";
@import "_animations.scss";
@import "_page-transitions.scss";

.center-content {
    position:relative;
    width:100%;
    max-width:1280px;
    margin:0 auto;
    padding:50px 0;
}